/* Header styles */
header {
    background-color: #840c0c;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
  }
  
  h1 {
    font-size: 24px;
    margin-left: 30mm;
  }
  
  a {
    text-decoration: none;
    color: #fff;
  }
  
  /* Cart button styles */
  .cart-button {
    display: flex;
    align-items: center;
    margin-right: 40mm;
    background-color: rgb(72, 12, 12); /* Add a red background color */
    border-radius: 30px;
    padding: 10px 20px;
     /* Add a border-radius for rounded corners */
  }
  
  /* Cart logo styles (adjust dimensions as needed) */
  .cart-logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    fill: #fff; /* Color of the cart logo */
  }
  
  .cart-count {
    background-color: #ff5733;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    padding: 5px 10px;
    margin-left: 5px;
  }
  
  .header-image {
    width: 30mm;
    height: auto;
    display: block; /* This ensures it behaves as a block-level element */
    max-width: 100%; /* Ensures the image does not exceed its container's width */
  }